<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container header">
        <h4>
            <a href="" class="business">
                <img src="./images/logo.png" alt="" class="Business_img">
                Business
            </a>
        </h4>
        
        <nav class="main-nav ">
            <ul class="list">
                <li><a href="">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Our approch</a></li>
                <li><a href="">Our work</a></li>
            </ul>
        </nav>
            
    
    </div>
   
    <div class="img">
        <img class="img" src="./images/main-pic.jpg" alt="" class="main_img">
    </div>
    <div class="container">
        <div class="2nd-block">
            <h1 class="title1">Social Media marketing for businesses</h1>
            <p class="commenttxt">
                We are added our major Services
            </p>

        </div>
        <div class="block2nd">
            <div  class="icons icon1"> 
                <a href="" class="in-icon">

                    <h5>Facebook Marketing  
    
                    </h5>
                    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </a>
            </div>
            <div class="icons icon2">
                <a href="" class="in-icon">
                    <h5> 
                        Landing pages Creation
                    </h5>
    
    
                    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit.

                    </p>

                </a>
            </div>
            <div class="icons icon3">
                <a href="" class="in-icon">
                    <h5>
                        Ads management
                    </h5>
    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.

                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class=" block3rd">
        <h1 class="title1">Our Approch</h1>
        <p class="commenttxt block3rd_txt">Check Our approches step by step ( how we do it) </p>
        <div class="foto container">
            <div class="fotos_part1">
                <img src="./images/photo-1.jpg" alt="" class="last_img">
            </div>
            
            <div class="fotos_part3">
                <h5 class="last_title">Step 1 : Heading Here</h5>
                <p class="last_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. At fugit soluta quidem, natus modi nulla! Deserunt vel nemo pariatur sequi earum officiis minima maiores a.</p>
                <div class="fotos_part2 square">
                    <p>1</p>
                </div>
            </div>
        </div>
        <div class="road container">
            <div class="road1">
                <img src="./images/photo-2.jpg" alt="" class="last_img">

            </div>
            
            <div class="road3">
                <h5 class="last_title">Step 2 : Heading Here</h5>
                <p class="last_txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe aliquam ea accusantium labore reiciendis tenetur harum alias deserunt unde autem dolorum a, dolorem soluta dolore!

                </p>
                <div class="road2 square">
                    <p>2</p>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <p>
            Cssauthor.com © 2014 All Rights Reserved
        </p>
    </div>
    
</body>
</html>